.btn {
  @extend %button-shared;
}

.hero-link-1 {
  z-index: 1;
  width: 90px;
  height: 90px;
  background-color: $white;
  border: 2px solid $tg-primary;
  border-radius: 200px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.tg-btn {
  &_offset-border {
    position: relative;
    border-width: 2px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    z-index: 0;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      transform: translate(-12px, -12px);
      // border: solid 2px $tg-primary;
      border: solid 2px $grey;
      z-index: -1;
    }

    &-white {
      border-color: $grey;
    }

    // size
    &-large {
      border-width: 3px;
    }

    .tg-input {
      border: none;
      user-select: none;

      &:focus {
        outline: none;
      }
    }
  }
  &_cta {
    .tg-input {
      width: 100%;
    }
    .btn {
      padding: 15px 18px;
      border-radius: 0;
    }
  }
}
