.content-wrapper {
  padding-top: 6vmax;
  padding-bottom: 6vmax;
}

// tags
.tag {
  &-thin {
    font-weight: 200;
  }

  &-light {
    font-weight: 300;
  }

  &-bold {
    font-weight: 600;
  }

  &-bolder {
    font-weight: 700;
  }
}

.page-section {
  min-height: 500px;
  font-size: 42px;

  &.hero-welcome {
    min-height: 650px;
  }
}

.section-heading {
  font-size: 64px;
  line-height: 90px;
  letter-spacing: 3px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.divider-5{
  height: 1px;
  background-color: $grey-light;
  margin-top: 40px;
  margin-bottom: 40px;
}

// =================== start of quote section ===================
.quote-content {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    width: 19px;
    height: 36px;
    // background-size: 19px 36px;
    top: -18px;
    position: absolute;
  }

  &::before {
    left: -30px;
    background-image: url("../../../assets/svgs/icons/quote-left.svg");
  }

  &::after {
    right: -30px;
    background-image: url("../../../assets/svgs/icons/quote-right.svg");
  }

  .quote-text {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  .quote-ref {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
  }
}
// =================== end of quote section ===================

// =================== start of quote section ===================
.gallery-stack-wrapper {
  &:hover {
    .stack {
      @include transform(rotate(5deg));

      .card:before {
        @include transform(translatey(-2%) rotate(-4deg));
      }

      .card:after {
        @include transform(translatey(-2%) rotate(-4deg));
      }
    }
  }
}

.stack {
  width: 85%;
  max-width: 400px;
  margin: 0 auto;
  @include transition(0.25s ease);
}

.gallery-card {
  aspect-ratio: 3 / 2;
  border: 4px solid;
  background-color: $white;
  position: relative;
  cursor: pointer;
  padding: 5% 5% 15% 5%;
  @include transition(0.15s ease);

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 4px solid;
    background-color: $white;
    transform-origin: center center;
    z-index: -1;
    top: 0;
    left: 0;
    @include transition(0.15s ease);
  }

  &:before {
    @include transform(translatey(-2%) rotate(-6deg));
  }

  &:after {
    @include transform(translatey(2%) rotate(6deg));
  }

  .image {
    width: 100%;
    border: 4px solid;
    background-color: $grey-thin;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
  }
}

.pastor-wrapper {
  [class*="col-"] {
    margin-bottom: 3.5rem;
  }
}
// =================== end of gallery section ===================
